h1 {
    font-size: 55px;
    color: red;
    background-color: grey;
    text-align: center;
}

h2 {
    font-size: 50px;
    color: red;
    background-color: rgb(78, 48, 184);
    text-align: center;
}

body {
    background-color: indigo;
    color: khaki;
}